<script>
$("#rl_showEditbt").click(function(){
	url="reservoirLithology/saveupdate";
	$.ajax({
		url:url,
		data:$("#rl_mainform").serialize(),
		success:function(res){
			$("#loadtable").html(res);
			$("#exampleModal").show();
		}
	});
});
</script>
edit
 [[${session.unitType}]]
<section class="content">
<li class="list-group-item">

<div class="row">
<div class="col-md-1"></div>
<div class="col-md-10" style="overflow-x: auto; overflow-y: hidden;">
<form id="rl_mainform">
<input type="hidden" id="rl_editpid" th:name="pid" th:value="${pid}">
<table id="example2" class="table table-hover table-bordered" >
                             <thead  th:if="${session.unitType=='Metric'}"><tr>
								<th style="text-align:center;">Stage<br>&nbsp;&nbsp;&nbsp;</th>
									<th style="text-align: center;">&nbsp;&nbsp;&nbsp;TVD&nbsp;&nbsp;&nbsp;<br>(meter)</th>
								<th nowrap style="text-align: center;">&nbsp;&nbsp;&nbsp;MD&nbsp;&nbsp;&nbsp;<br>(meter)</th>
								<th nowrap style="text-align: center;">Layer
									Thickness<br>(meter)</th>
								<th nowrap style="text-align: center;">Rock
									Type<br>&nbsp;</th>
								<th nowrap style="text-align: center;">Permiability<br>(meter)</th>
								<th nowrap style="text-align: center;">Porosity<br>&nbsp;</th>
								<th nowrap style="text-align: center;">Leakoff
									Coefficient<br>meter</th>
								<th nowrap style="	text-align: center;">Youngs
									Modulus meter<br>&nbsp;</th>
							</tr>
						</thead>
						
			  <!-- This is for the user th:if="${buttonValue=='userDiv'}" -->		
						
<!-- 					<thead  if=[[${session.unitType}]]=="Field">
 -->					<thead  th:if="${session.unitType=='Field'}">
					
					<tr>
								<th style="text-align: center;">Stage different unit<br>&nbsp;&nbsp;&nbsp;</th>
									<th style="text-align: center;">&nbsp;&nbsp;&nbsp;TVD&nbsp;&nbsp;&nbsp;<br>(ft)</th>
								<th nowrap style="text-align: center;">&nbsp;&nbsp;&nbsp;MD&nbsp;&nbsp;&nbsp;<br>(ft)</th>
								<th nowrap style="text-align: center;">Layer different unit
									Thickness<br>(ft)</th>
								<th nowrap style="text-align: center;">Rock different unit
									Type<br>&nbsp;</th>
								<th nowrap style="text-align: center;">Permiability<br>(md)</th>
								<th nowrap style="text-align: center;">Porosity<br>&nbsp;</th>
								<th nowrap style="text-align: center;">Leakoff
									Coefficient<br>(ft/min^5)</th>
								<th nowrap style="	text-align: center;">Youngs
									Modulus<br>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="list:${list}">
								<th style="text-align:center;" th:text="${list.fracstage}"></th>
								<td title="TVD(ft)"><input type="number" min="0" max=""
									class="form-control" id="tvd" name="rl_input" th:value="${list.tvd}" style="border:none;"></td>
								<td title="MD(ft)"><input type="number" min="0" max=""
									class="form-control" id="tvd" name="rl_input" th:value="${list.md}" style="border:none;"></td>
								<td title="Layer Thickness(ft)"><input type="number" min="0" max=""
									class="form-control" id="tvd" name="rl_input" th:value="${list.layer}" style="border:none;"></td>
								<td title="Rock	Type"><input type="number" min="0" max=""
									class="form-control" id="tvd" name="rl_input" th:value="${list.rock}" style="border:none;"></td>
								<td title="Permiability(md)"><input type="number" min="0" max=""
									class="form-control" id="tvd" name="rl_input" th:value="${list.perm}" style="border:none;"></td>
								<td title="Porosity"><input type="number" min="0" max=""
									class="form-control" id="tvd" name="rl_input" th:value="${list.poro}" style="border:none;"></td>
								<td title="Leakoff Coefficient(ft/min^5)"><input type="number" min="0" max=""
									class="form-control" id="tvd" name="rl_input" th:value="${list.leakoff}" style="border:none;"></td>
								<td title="Youngs Modulus"><input type="number" min="0" max=""
									class="form-control" id="tvd" name="rl_input" th:value="${list.youngs}" style="border:none;"></td>
							</tr>
							</tbody>
                        </table>
                       </form>
</div>
</div>
<br><center>
	<input id="rl_showEditbt" class="btn btn-primary" type="submit"
		value="Save" style="width:10%"/>
</center>
</li>
</section>